:root {
  --primary-color: #b444f9;
  --secondary-color: #2196F3;
  --background-color: #F5F5F5;
  --text-color: #333;
  --input-background: #FFF;
  --button-background: #9a00fa;
  --button-hover: #230039;
  --button-text: #FFF;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--input-background);
}

button {
  border: none;
  padding: 10px 20px;
  background: var(--button-background);
  color: var(--button-text);
  font-size: 1em;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background: var(--button-hover);
}

.container {
  position: relative;
}

.register {
  position: fixed;
  padding: 30px;
  box-shadow: var(--box-shadow);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--input-background);
  border-radius: 10px;
}

.chat-box {
  box-shadow: var(--box-shadow);
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: var(--input-background);
  border-radius: 10px;
}

.member-list {
  width: 20%;
  overflow-y: auto;
  padding: 10px;
  background-color: var(--input-background);
  border-radius: 10px;
}

.chat-content {
  width: 80%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  height: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}

.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.input-message {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: var(--input-background);
}

ul {
  padding: 0;
  list-style-type: none;
}

.send-button {
  width: 10%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--button-text);
}

.send-button:hover {
  background-color: var(--button-hover);
}

.member {
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px 2px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.member.active {
  background: var(--secondary-color);
  color: #fff;
}

.member:hover {
  background: grey;
  color: #fff;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}

.avatar.self {
  color: #000;
  background-color: greenyellow;
}

.message {
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: var(--box-shadow);
  margin: 5px 10px;
  border-radius: 10px;
  background-color: var(--input-background);
}

.message-data {
  padding: 5px;
}

.message.self {
  justify-content: end;
}

.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

input {
  width: 100%;
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}

.join-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.join-room-input {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.join-room-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: var(--button-background);
  color: var(--button-text);
  cursor: pointer;
}

.join-room-button:hover {
  background-color: var(--button-hover);
}
